<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shira.international_students" >

    <!-- http://stackoverflow.com/questions/2471935/how-to-load-an-imageview-by-url-in-android -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegionActivity"
            android:label="@string/title_activity_region" >
        </activity>
        <activity
            android:name=".RegionDetailActivity"
            android:label="@string/title_activity_region_detail" >
        </activity>
        <activity
            android:name=".RegionComparison"
            android:label="@string/title_activity_region_comparison" >
        </activity>
    </application>

</manifest>
